(
    entities_prefabs: [(
        components_prefabs: [
            Renderable(Text(
                "Main menu", (
                    font_size: Big, 
                    color: Black, 
                    location: [200, 200], 
                )
            )),
        ]
    )]
)
