(
    entities_prefabs: [(
        components_prefabs: [
            Rendering((
                target: Text(
                    "Main menu",
                    (font_size: Big, color: Black)
                ),
                coordinate_system: Some(Ndc)
            )),
            Position((
                vector: [.45, .1]
            ))
        ]
    ), (
        components_prefabs: [
            Rendering((
                target: Circle(
                    (radius: 50.0),
                    (color: PeachPuff)
                ),
                coordinate_system: Some(Ndc)
            )),
            Position((
                vector: [.50, .50]
            ))
        ],
    ), (
        components_prefabs: [
            Rendering((
                target: Rectangle(
                    (width: 300.0, height: 100.),
                    (color: PeachPuff)
                ),
                coordinate_system: Some(Ndc)
            )),
            Position((
                vector: [.50, .90]
            ))
        ]
    )]
)
